<main class="container mt-5">
<h1>Add User</h1>
<form id="add-user-form" method="POST" action="/api/account">
<div class="form-group">
  <label for="name">Username</label>
  <input id="username" name="username" class="form-control" type="text">
  <div id="username-error" class="text-danger"></div>
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input id="email" name="email" class="form-control" type="email">
  <div class="text-danger" id="email-error"></div>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input id="password" name="password" class="form-control" type="password">
  <div class="text-danger" id="password-error"></div>
</div>
<div class="form-group">
  <label for="confirm-password">Confirm Password</label>
  <input id="confirm-password" name="confirm-password" class="form-control" type="password">
  <div class="text-danger" id="confirm-password-error"></div>
</div>
<div class="form-group">
  <button class="btn btn-primary" type="submit">Add</button>
</div>
<div class="form-group">
  <output class="text-danger"></output>
</div>
</form>
</main>