  <head>
<meta name="description" content="Editing a post.">
  <meta name="keywords" content="Edit, Post">
  </head>
  
<main class="container mt-5">
  <h1>Edit Post</h1>
  {{#with post}}
  <form id="edit-post-form" method="POST" action="/api/post/{{_id}}">
  <input id="_id" name="_id" type="hidden" value="{{_id}}">
    <div class="from-group">
      <label for="title">Title</label>
      <input id="title" name="title" class="form-control" type="text" value="{{title}}">
      <div id="title-error" class="text-danger"></div>
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <input id="body" name="body" class="form-control" type="text" value="{{body}}">
      <div id="body-error" class="text-danger"></div>
    </div>
    

    <div class="form-group">

      <button class="btn btn-primary" type="submit"><i class="fas fa-pencil-alt"></i> Save</button>
    </div>
    <div class="form-group">
      <output class="text-warning"></output>
    </div>
  </form>
  {{/with}}
</main>