  <meta name="description" content="Page to display some errors.">
  <meta name="keywords" content="Error, Display, Page">
<main class="container mt-5">
  <h1 class="text-danger">{{title}}</h1>
  <div style="white-space: pre-wrap;">{{message}}</div>
</main>