  <head>
<meta name="description" content="Explain what the website is and what it's used for.">
  <meta name="keywords" content="Explain, Website, Use">
  </head>
  
  <main class="container mt-5">


 
<div class="intro">


    <h1>Welcome to Fancy Media!</h1>
    <p>Fancy Media is a website to discover:</p>
    
    <ul>
      <li>New groups and view posts made by others in that group.</li>
      <li>Users and their information to maybe start up a conversation</li>
      <li>A collection of posts from random groups on this site.</li>
    </ul>

    <p>Enjoy the Adventure!</p>
  </div>
  </div>
</main>