<main class="d-flex flex-column">
  <div class="container">
    <h1 class="text-center">Login</h1>
    <form id="login_form" method="POST" action="/login">
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" class="form-control" value="{{username}}">

      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" class="form-control" value="{{password}}">

      </div>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
        <div class="text-danger">{{result}}</div>
      </div>
    </form>
  </div>
</main>